/** Blue theme - simple CSS checkerboard */
cg-board {
  background: 
    repeating-conic-gradient(#dee3e6 0deg 90deg, #8ca2b5 90deg 180deg) 0 0/12.5% 12.5%;
}

/** Interactive elements */
cg-board square.move-dest {
  background: radial-gradient(rgba(20, 85, 150, 0.5) 22%, #2185d0 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
}
cg-board square.premove-dest {
  background: radial-gradient(rgba(20, 30, 85, 0.5) 22%, #203085 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
}
cg-board square.oc.move-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 85, 150, 0.3) 80%);
}
cg-board square.oc.premove-dest {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
}
